html,
body {
  padding: 0;
  margin: 0;
  width: 100%;
  font-family: 'Red Hat Display'
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

* {
  box-sizing: border-box;
}

.menu_link_desktop{
  color: #274C77;
  transition: all 0.05s linear;
}
.menu_link_desktop:hover{
  color: #274C77;
  font-weight: bold;
  transition: all 0.05s linear;
}
.menu_link_desktop_active{
  color: #274C77;
  font-weight: bold;
}

.sign-up-link{
  color: #274C77;
  font-weight: bold;
}